.box{
    width: 50px;
    height: 20px;
}

#box1{
    border: 1px solid;
    padding: 10px;
    margin: 20px;
}

#box2{
    border: 2px dashed;
    padding: 5px 10px;
    margin: 20px 10px;
}

#box3{
    border: 3px dotted;
    padding: 5px 10px 0px 2px;
    margin: 5px 10px 0px 2px;
}